{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="span7">
        <h2>Faça login</h2>
        <form method="POST" action=".">
            {% csrf_token %}
            {{ auth_form.as_p }}
            <input name="login" type="submit" value="{% trans 'Login' %}" />
        </form>
        <p>Login via <a href="{% url socialauth_begin 'twitter' %}">Twitter</a></p>
        <p>Login via <a href="{% url socialauth_begin 'github' %}">GitHub</a></p>
        <p>Login via <a href="{% url socialauth_begin 'facebook' %}">Facebook</a></p>

     </div>

     <div class="span2">
         <h2>Ou</h2>
     </div>

    <div class="span7">
        <h2>{% trans 'Registre-se' %}</h2>
        <form method="POST" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input name="register" type="submit" value="{% trans 'Registrar' %}" />
        </form>
     </div>
<div>
{% endblock %}
