{% extends "base.html" %}
{% block content %}
            <div id="content">
                <div class="hero-content" id="first-hero">
                    <div class="row show-grid">
                        <div class="span-one-third" style="width:200px;">
                            <img src="../static/img/logoPyCon-PE.png" alt="PyCon China 2011 Logo" />
                        </div>
                        <div class="span-two-thirds" style="width:600px; text-align:right;">
                            <h1 style="border:none; padding-bottom:0;">PyCon-PE Come&ccedil;ou!</h1>
                            <p>De 24 a 26 de Agosto</p>
                            <p>Recife, PE</p>
                        </div>
                        <br />
                        <p style="text-align:right;"><a class="btn primary large" href="{% url accounts.views.register %}">Registre-se agora! &raquo;</a></p>
                    </div><!--END grid-->
                </div><!--END hero-content-->
                
                <!--NEW hero insert here-->
            </div><!--END content-->

        
        <div class="row show-grid underhero">
            <div class="span3"><h2 style="margin-top:10px;">Patrocinadores</h2></div>
            <div class="span3"><a target="_blank" href="http://www.google.com/"><img src="http://pycon.b0.upaiyun.com/images/sponsors/google.png" alt="Google" width="150" /></a></div>
            <div class="span3"><a target="_blank" href="http://www.tudou.com/"><img style="margin-top:10px;" src="http://pycon.b0.upaiyun.com/images/sponsors/tudou.png" alt="Tudou" width="150" /></a></div>
            <div class="span3"><a target="_blank" href="http://www.ccpgames.com/zh/home"><img src="http://pycon.b0.upaiyun.com/images/sponsors/ccp.gif" alt="CCPGames" width="120" /></a></div>
            <div class="span3"><a target="_blank" href="http://www.snda.com/"><img src="http://pycon.b0.upaiyun.com/images/sponsors/snda.png" alt="SNDA" width="150" /></a></div>
        </div><!--END grid-->
        <div class="row show-grid underhero">
            <div class="span3">&nbsp;</div>
            <div class="span3"><a target="_blank" href="http://www.ijinshan.com/"><img style="margin-top:10px;" src="http://pycon.b0.upaiyun.com/images/sponsors/jinshan.gif" alt="Kingsoft network" width="150" /></a></div>
            <div class="span3"><a target="_blank" href="http://www.douban.com/"><img style="margin-top:20px;" src="http://pycon.b0.upaiyun.com/images/sponsors/douban.gif" alt="Douban" width="150" /></a></div>
            <div class="span3"><a target="_blank" href="http://www.sina.com.cn/"><img src="http://pycon.b0.upaiyun.com/images/sponsors/sina.gif" alt="Sina" width="150" /></a></div>
            <div class="span3"><img src="http://pycon.b0.upaiyun.com/images/sponsors/xunpu.png" alt="HuZhou XunPu" width="150" /></div>
        </div><!--END grid-->
        <div class="row show-grid underhero">
            <div class="span3">&nbsp;</div>
            <div class="span3"><img src="http://pycon.b0.upaiyun.com/images/sponsors/liubao.png" alt="LiuBao" width="150" /></div>
            <div class="span3"><a target="_blank" href="http://www.ituring.com.cn"><img style="margin-top:40px;" src="http://pycon.b0.upaiyun.com/images/sponsors/turingbook.gif" alt="Turing" width="150" /></a></div>
            <div class="span3"><a target="_blank" href="http://www.gensee.com/"><img style="margin-top:20px;" src="http://pycon.b0.upaiyun.com/images/sponsors/gensee.png" alt="Gensee" width="150" /></a></div>
            <div class="span3"></div>
            <div class="span3"></div>
        </div><!--END grid-->
        
        <h2 style="margin-top:10px; display:inline-block; border:none;">Palestrantes</h2><small>&nbsp;&nbsp;<a href="/2011/schedule"> &raquo;</a></small>
        <div class="row show-grid underhero speakers">
            <div class="span8">
                <img src="http://pycon.b0.upaiyun.com/images/speakers/chenshixin.jpg" alt="Chen Shixin" />
                <h4> Nome do Palestrante </h4>
                <strong> T&iacute;tulo: </strong>
                "Keynote - Python FTW!"
                <br />
                <strong>Empresa:</strong>
                "Google"
                <br />
                <strong>Cargo:</strong>
                "CTO"
                <br />
                <strong>Descri&ccedil;&atilde;o:</strong>
                "My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?"

            </div>
            <div class="span8">
                <img src="http://pycon.b0.upaiyun.com/images/speakers/shenwai.jpg" alt="Shen Wei" />
                <h4> Nome do Palestrante </h4>
                <strong> T&iacute;tulo: </strong>
                "Keynote - Python FTW!"
                <br />
                <strong>Empresa:</strong>
                "Google"
                <br />
                <strong>Cargo:</strong>
                "CTO"
                <br />
                <strong>Descri&ccedil;&atilde;o:</strong>
                "My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?"
            </div>
        </div><!--END row-->
        
        <div class="row">
            <div class="span6">
              <h2>Agenda</h2>
              <ol>
                  <li>E</li>
                  <li class="has_sub_schedule">Topics (1st Day)&darr;
                      <ul class="sub_schedule">
                          <li>Introduce organizers and sponsors</li>
                          <li>Introduce the conference - " Python makes the world more exciting "- Sting Chen</li>
                          <li>Video speeches from the Pythoners in the world.</li>
                          <li>" Python, the road to the future "- Wei Shen</li>
                          <li>" Exploring and discovering the game development in python "- Wei Lin</li>
                          <li>"Using Python in Douban.Com" - Hung Qiangning</li>
                          <li>"Scale web application stack with coro-thread" - Damien Hou</li>
                          <li>" Introduction of Easydo PaaS cloud developing platform technology "- Junyong Pan</li>
                          <li>" Billing and traffic management of large-scale video website  "- Dong Huang</li>
                          <li>" Implementation of SAE (Sina AppEngine) in python "- Zheng Chen</li>
                      </ul>
                  </li>
                  <li>Dinner - Pythoners and<li>noticia 1</li> speakers.</li>
                  <li class="has_sub_schedule">Topics (2nd Day)&darr;
                  </li>
                  <li class="has_sub_schedule">Lightning Talk (Product Demo or technical experience to share).&darr;
                      
                      </ul>
                  </li>
              </ol>
              <p><a class="btn" href="/2011/schedule">Agenda &raquo;</a></p>

            </div>
            <div class="span5">
              <h2>Sobre a PyCon</h2>
               <p>PyCon.Org is an international community for the Python programming language holds several conferences each year. </p>
              <p><a class="btn" href="/2011/about">more details &raquo;</a></p>
           </div>
            <div class="span5">

              <h2>Not&iacute;cias</h2>
              <ol>
                  <li>noticia 1</li>
                  <li>noticia 2</li>
                  <li>noticia 3</li>
              </ol>
            </div>
          </div>
{% endblock %}
