{% extends "base.html" %}
{% block content %}
<div class="container" id="main_container">
    <!--[if lt IE 7]><div style=" clear: both; height: 59px; padding:0 0 0 15px; position: relative;"> <a target="_blank" href="http://windows.microsoft.com/zh-CN/internet-explorer/downloads/ie?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.cn/img/banner/upgrade.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div><![endif]-->
    

    
<h1>Patrocinadores</h1>

<h3>Sponsors provided essential support to PyCon conference. If you and your company are willing to support the Python community exchanges, please contact PyCon organizers (e-mail: stingchen@topgeek.org). Your Company Logo and Profile will be shown on home page and the "Sponsors" page at our official website . </h3><br />

    <div class="row show-grid" style="border-top: 1px solid #EEEEEE;">
        <div class="span-one-third"><a target="_blank" href="http://www.google.com/"><img src="http://pycon.b0.upaiyun.com/images/sponsors/google.png" alt="Google" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        Google is a search service provided, to provide advertising services to business customers focus on the profitability of the company.Search Google for its rapid, accurate and easy to use, etc., is recognized as the world's best search engine. 
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.tudou.com/"><img src="http://pycon.b0.upaiyun.com/images/sponsors/tudou.png" alt="Tudou" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        Tudou (Tudou.com) is China's earliest and most influential video-sharing site, is a Chinese online video industry's leading brands, is the world's first on-line video sharing websites.Wang Wei is Tudou founder and CEO. 
<br /><br />
Tudou on April 15, 2005 formally launched, every day more than 25 million unique users, 200 million monthly users, with more than 80 million registered users.August 17, 2011, Tudou in the U.S. NASDAQ stock code: TUDO. 
<br /><br />
From the first day of the establishment of potatoes, we believe that is, " Everyone is living the director "We aim to make creative program makers to create and share the freedom to make their programs appear in front of the user, will also allow each user can see at any time they want to see any program. 
        </div>
    </div><!--END row-->
  
    
    <div class="row show-grid last">
        <div class="span-one-third"><a target="_blank" href="http://www.gensee.com/"><img src="http://pycon.b0.upaiyun.com/images/sponsors/gensee-cloud.gif" alt="Gensee" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        Gensee as interactive exhibition is a joint venture by the world's leading venture capital investment in high-tech enterprises; committed to the operation activities of the world's leading network and virtual meeting platform; to break the traditional pattern of a virtual industry, first mixed transmission mode, the audio and video , PPT and interactive content simultaneously presented to the audience, better to restore the scene of the real atmosphere, a completely new experience. <br />
        Gensee is the webcast service provider for PyCon.
        </div>
    </div><!--END row-->
{% endblock %}