{% extends "base.html" %}
{% block content %}
<div class="container" id="main_container">
    <!--[if lt IE 7]><div style=" clear: both; height: 59px; padding:0 0 0 15px; position: relative;"> <a target="_blank" href="http://windows.microsoft.com/zh-CN/internet-explorer/downloads/ie?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.cn/img/banner/upgrade.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div><![endif]-->
    

    
<h1>Patrocinadores</h1>

<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean interdum dui non ipsum laoreet vulputate. Sed quis ipsum ac nisl pharetra pharetra. Nunc sollicitudin enim quis massa rutrum vulputate. Mauris non nunc vel sem luctus ultrices consequat eget metus. Integer ut turpis diam. Nulla eget elit ac ipsum sollicitudin mollis. Quisque sollicitudin viverra consequat. Etiam non augue eu arcu faucibus suscipit pretium id nibh. Phasellus laoreet viverra justo eu consequat. Phasellus tincidunt sagittis augue, quis condimentum est placerat ut. Fusce et turpis erat. </h3><br />

    <div class="row show-grid" style="border-top: 1px solid #EEEEEE;">
        <div class="span-one-third"><a target="_blank" href="http://www.google.com/"><img src="http://pycon.b0.upaiyun.com/images/sponsors/google.png" alt="Google" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean interdum dui non ipsum laoreet vulputate. Sed quis ipsum ac nisl pharetra pharetra. Nunc sollicitudin enim quis massa rutrum vulputate. Mauris non nunc vel sem luctus ultrices consequat eget metus. Integer ut turpis diam. Nulla eget elit ac ipsum sollicitudin mollis. Quisque sollicitudin viverra consequat. Etiam non augue eu arcu faucibus suscipit pretium id nibh. Phasellus laoreet viverra justo eu consequat. Phasellus tincidunt sagittis augue, quis condimentum est placerat ut. Fusce et turpis erat. <br /><br />
        </div>
    </div><!--END row-->
    <!-- repeat here -->
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.tudou.com/"><img src="http://pycon.b0.upaiyun.com/images/sponsors/tudou.png" alt="Tudou" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean interdum dui non ipsum laoreet vulputate. Sed quis ipsum ac nisl pharetra pharetra. Nunc sollicitudin enim quis massa rutrum vulputate. Mauris non nunc vel sem luctus ultrices consequat eget metus. Integer ut turpis diam. Nulla eget elit ac ipsum sollicitudin mollis. Quisque sollicitudin viverra consequat. Etiam non augue eu arcu faucibus suscipit pretium id nibh. Phasellus laoreet viverra justo eu consequat. Phasellus tincidunt sagittis augue, quis condimentum est placerat ut. Fusce et turpis erat. <br /><br />
        </div>
    </div><!--END row-->
    <!-- 'til here -->
  
    
    <div class="row show-grid last">
        <div class="span-one-third"><a target="_blank" href="http://www.gensee.com/"><img src="http://pycon.b0.upaiyun.com/images/sponsors/gensee-cloud.gif" alt="Gensee" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean interdum dui non ipsum laoreet vulputate. Sed quis ipsum ac nisl pharetra pharetra. Nunc sollicitudin enim quis massa rutrum vulputate. Mauris non nunc vel sem luctus ultrices consequat eget metus. Integer ut turpis diam. Nulla eget elit ac ipsum sollicitudin mollis. Quisque sollicitudin viverra consequat. Etiam non augue eu arcu faucibus suscipit pretium id nibh. Phasellus laoreet viverra justo eu consequat. Phasellus tincidunt sagittis augue, quis condimentum est placerat ut. Fusce et turpis erat.


        </div>
    </div><!--END row-->
{% endblock %}